//general import segment
@import "global.less";
@import "common.less";
@import "page-header";
@import "page-footer";
@import "page-content";
@import "fonts.less";
@import "button.less";
@import "main-nav";


//Viewports
@tablet-width: 320px;
@deskstop-width: 660px;
@mobile-whidth-only: 659px;

//index.html import segment
@import "get-app";

//css style
body {background: #ffffff;}
